In [90]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [91]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [92]:
#read csv files
school_data= pd.read_csv(school_data_to_load)
student_data= pd.read_csv(student_data_to_load)

In [93]:
#check the imports to ensure that files are read properly
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [94]:
#check the second csv file to make sure that file are read and to compare columns
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [95]:
#merge the 2 csv files
school_data_complete = pd.merge(school_data,student_data, how="inner", on=["school_name", "school_name"])

In [96]:
#check the merger
school_data_complete.head(3)

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60

In [97]:
#information summary of the merged list
school_data_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   School ID      39170 non-null  int64
 1   school_name    39170 non-null  object
 2   type           39170 non-null  object
 3   size           39170 non-null  int64
 4   budget         39170 non-null  int64
 5   Student ID     39170 non-null  int64
 6   student_name   39170 non-null  object
 7   gender         39170 non-null  object
 8   grade          39170 non-null  object
 9   reading_score  39170 non-null  int64
 10  math_score     39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB

In [98]:
# calculate the number of school, the total budget, the total students and average math scores
total_schools= len(school_data_complete['school_name'].unique())
total_budget = school_data['budget'].sum()
total_students=school_data_complete['Student ID'].count()

In [99]:
total_schools

15

In [100]:
#calculate the test pass rates for math, and reading
passed_reading = student_data.loc[student_data['reading_score'] >= 70]['reading_score'].count()
passed_math = student_data.loc[student_data['math_score'] >= 70]['math_score'].count()
percent_pass_reading = (passed_reading/total_students)*100
percent_pass_math = (passed_math/total_students)*100
average_reading_score= student_data['reading_score'].mean()
average_math_Score= student_data['math_score'].mean()

In [101]:
percent_pass_reading

85.80546336482001

In [102]:
passed_reading

33610

In [103]:
average_reading_score

81.87784018381414

In [104]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [105]:
percent_pass_math

74.9808526933878

In [106]:
average_math_Score

78.98537145774827

In [107]:
overall_pass= (len(student_data.loc[(student_data['math_score'] >=70)& (student_data['reading_score'] >= 70)])/total_students)*100

In [108]:
pass_math_read_df = student_data.loc[(student_data['math_score'] >= 70) & (student_data['reading_score'] >= 70)]

In [109]:
percent_pass_math

74.9808526933878

In [110]:
overall_pass

65.17232575950983

In [111]:
District_Summary=pd.DataFrame({"Total Schools": total_schools, 
                                "Total Students":total_students, 
                                "Total School Budget":total_budget,
                                "Average Math Score": average_math_Score,
                                "Average Reading Score": average_reading_score,
                                "% Passing Math": percent_pass_math, 
                                "% Passing Reading":percent_pass_reading, 
                                "%Overall Passing": overall_pass}, index=[0])

In [112]:
print("District Summary")
District_Summary

District Summary

,Total Schools,Total Students,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,%Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [113]:
#calculate the per student Budget
Per_student_budget=total_budget/total_students

In [114]:
Per_student_budget

629.2935409752362

In [115]:
summary_passing_math = student_data[student_data['math_score']>=70]

In [116]:
summary_passing_math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
8,8,Michael Roth,M,10th,Huang High School,95,87
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [117]:
#group complete data by school name, school size and school type
grouped_school = school_data_complete.groupby('school_name')
total_students_per_school=school_data_complete['size']
school_type = grouped_school['type'].first()
# Calculate the average math score for each school
school_average_math_score = grouped_school['math_score'].mean()
# Calculate the average reading score for each school
school_average_reading_score = grouped_school['reading_score'].mean()
# Calculate the total budget for each school
total_school_budget = grouped_school['budget'].first()
# Calculate the budget per student for each school
total_school_budget_per_student = total_school_budget/total_students_per_school.sum()

In [118]:
School_name

In [119]:
#test Scores
# Calculate the percentange of passing math score for each school
grouped_passing_math = school_data_complete[school_data_complete['math_score']>=70].groupby(['school_name']).size()
percent_passing_math = (grouped_passing_math/total_students)*100
# Calculate the percentange of passing math score for each school
grouped_passing_reading = school_data_complete[school_data_complete['reading_score']>=70].groupby(['school_name']).size()
percent_passing_reading = (grouped_passing_reading/total_students)*100
#Passed both math and reading
# Calculate the overall passing score for each school
percent_overall_passing = (percent_passing_math + percent_passing_reading)/2

In [120]:
total_students_per_school

0        2917
1        2917
2        2917
3        2917
4        2917
         ...
39165    1635
39166    1635
39167    1635
39168    1635
39169    1635
Name: size, Length: 39170, dtype: int64

In [121]:
percent_overall_passing

school_name
Bailey High School       9.439622
Cabrera High School      4.534082
Figueroa High School     5.523360
Ford High School         5.160837
Griffin High School      3.570334
Hernandez High School    8.733725
Holden High School       1.028849
Huang High School        5.473577
Johnson High School      8.950728
Pena High School         2.339801
Rodriguez High School    7.482767
Shelton High School      4.264743
Thomas High School       3.977534
Wilson High School       5.548889
Wright High School       4.364309
dtype: float64

In [124]:
school12_Summary=pd.DataFrame({"School Name": grouped_school, 
                                "School Type":school_type,
                                "Total School Budget":total_school_budget,
                                "Per Student Budget": total_school_budget_per_student,
                                "Total Students":total_students_per_school,
                                "Average Math Score": school_average_math_score,
                                "Average Reading Score": school_average_reading_score,
                                "% Passing Math":percent_passing_math, 
                                "% Passing Reading":percent_passing_reading, 
                                "%Overall Passing":percent_overall_passing}, index=[0])

ValueError: Shape of passed values is (15, 10), indices imply (1, 10)